<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3/dist/vue-loading.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/all.css"" />
  </head>

  <body>
    <div id="app">
      <Navbar></Navbar>
      <loading :active.sync="isLoading"></loading>
      <div class="container-fluid mt-4">
        <div class="row">
          <Sidebar></Sidebar>
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 mt-5">
            <div class="text-right mt-4">
              <button class="btn btn-primary" @click="openModal('new')">
                建立新產品
              </button>
            </div>
            <div class="table-responsive">
              <table class="table table-striped mt-4">
                <thead>
                  <tr>
                    <th width="140" class="text-nowrap">分類</th>
                    <th>產品名稱</th>
                    <th width="120" class="text-nowrap">原價</th>
                    <th width="120" class="text-nowrap">售價</th>
                    <th width="100" class="text-nowrap">是否啟用</th>
                    <th width="140" class="text-nowrap">編輯</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in products" :key="item.id">
                    <td>{{ item.category }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.origin_price}}</td>
                    <td>{{ item.price}}</td>
                    <td>
                      <span v-if="item.enabled" class="text-success">啟用</span>
                      <span v-else>未啟用</span>
                    </td>
                    <td>
                      <button
                        class="btn btn-outline-primary btn-sm mr-1"
                        @click.prevent="openModal('edit', item)"
                      >
                        編輯
                      </button>
                      <button
                        class="btn btn-outline-danger btn-sm"
                        @click.prevent="openModal('del',item)"
                      >
                        刪除
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- 新增分頁 -->
            <Pagination
              :pages="pagination"
              @changePage="getProducts"
            ></Pagination>
            <!-- Product Modal -->
            <div
              class="modal fade"
              id="productModal"
              tabindex="-1"
              role="dialog"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content border-0">
                  <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title" id="exampleModalLabel">
                      <span v-if="isNew">新增商品</span>
                      <span v-else>修改商品</span>
                    </h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <validation-observer v-slot="{ invalid }">
                    <form @submit.prevent="updateProduct">
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-sm-4">
                            <validation-provider
                              rules="required"
                              class="form-group"
                              tag="div"
                              v-slot="{ errors, classes}"
                            >
                              <label for="image">輸入圖片網址</label>
                              <input
                                type="text"
                                class="form-control"
                                id="image"
                                v-model="tempProduct.imageUrl[0]"
                                placeholder="請輸入圖片連結"
                                :class="classes"
                                required
                              />
                              <span class="invalid-feedback"
                                >{{ errors[0] }}</span
                              >
                            </validation-provider>
                            <div class="form-group">
                              <label for="customFile"
                                >或 上傳圖片
                                <i
                                  class="fas fa-spinner fa-spin"
                                  v-if="state.fileUpLoading"
                                ></i>
                              </label>
                              <input
                                type="file"
                                id="customFile"
                                class="form-control"
                                ref="files"
                                @change="uploadFile"
                              />
                            </div>
                            <img
                              class="img-fluid"
                              :src="tempProduct.imageUrl[0]"
                              alt=""
                            />
                          </div>
                          <div class="col-sm-8">
                            <validation-provider
                              rules="required"
                              class="form-group"
                              tag="div"
                              v-slot="{ errors, classes}"
                            >
                              <label for="title">商品名稱</label>
                              <input
                                id="title"
                                v-model="tempProduct.title"
                                type="text"
                                class="form-control"
                                placeholder="請輸入標題"
                                :class="classes"
                                required
                              />
                              <span class="invalid-feedback"
                                >{{ errors[0] }}</span
                              >
                            </validation-provider>
                            <div class="form-row">
                              <validation-provider
                                rules="required"
                                class="form-group col-md-6"
                                tag="div"
                                v-slot="{ errors, classes}"
                              >
                                <label for="category">分類</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="category"
                                  v-model="tempProduct.category"
                                  placeholder="請輸入分類"
                                  :class="classes"
                                  required
                                />
                                <span class="invalid-feedback"
                                  >{{ errors[0] }}</span
                                >
                              </validation-provider>
                              <validation-provider
                                rules="required"
                                class="form-group col-md-6"
                                tag="div"
                                v-slot="{ errors, classes}"
                              >
                                <label for="unit">單位</label>
                                <input
                                  id="unit"
                                  v-model="tempProduct.unit"
                                  type="unit"
                                  class="form-control"
                                  placeholder="請輸入單位"
                                  :class="classes"
                                />
                                <span class="invalid-feedback"
                                  >{{ errors[0] }}</span
                                >
                              </validation-provider>
                            </div>
                            <div class="form-row">
                              <validation-provider
                                rules="required"
                                class="form-group col-md-6"
                                tag="div"
                                v-slot="{ errors, classes}"
                              >
                                <label for="origin_price">原價</label>
                                <input
                                  type="number"
                                  class="form-control"
                                  id="origin_price"
                                  v-model="tempProduct.origin_price"
                                  placeholder="請輸入原價"
                                  :class="classes"
                                  required
                                />
                                <span class="invalid-feedback"
                                  >{{ errors[0] }}</span
                                >
                              </validation-provider>
                              <validation-provider
                                rules="required"
                                class="form-group col-md-6"
                                tag="div"
                                v-slot="{ errors, classes}"
                              >
                                <label for="price">售價</label>
                                <input
                                  type="number"
                                  class="form-control"
                                  id="price"
                                  v-model="tempProduct.price"
                                  placeholder="請輸入售價"
                                  :class="classes"
                                  required
                                />
                                <span class="invalid-feedback"
                                  >{{ errors[0] }}</span
                                >
                              </validation-provider>
                            </div>
                            <hr />
                            <validation-provider
                              rules="required"
                              class="form-group"
                              tag="div"
                              v-slot="{ errors, classes}"
                            >
                              <label for="content">產品描述</label>
                              <textarea
                                type="text"
                                class="form-control"
                                id="content"
                                v-model="tempProduct.content"
                                placeholder="請輸入產品描述請"
                                :class="classes"
                                required
                              ></textarea>
                              <span class="invalid-feedback"
                                >{{ errors[0] }}</span
                              >
                            </validation-provider>
                            <div class="form-group">
                              <validation-provider
                                rules="required"
                                class="form-group"
                                tag="div"
                                v-slot="{ errors, classes}"
                              >
                                <label for="description">說明內容</label>
                                <textarea
                                  type="text"
                                  class="form-control"
                                  id="description"
                                  v-model="tempProduct.description"
                                  placeholder="輸入產品說明內容"
                                  :class="classes"
                                  required
                                ></textarea>
                                <span class="invalid-feedback"
                                  >{{ errors[0] }}</span
                                >
                              </validation-provider>
                            </div>
                            <div class="form-group">
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  v-model="tempProduct.enabled"
                                  :true-value="true"
                                  :false-value="false"
                                  id="is_enabled"
                                />
                                <label
                                  class="form-check-label"
                                  for="is_enabled"
                                >
                                  是否啟用
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-outline-secondary"
                          data-dismiss="modal"
                        >
                          取消
                        </button>
                        <button
                          type="submit"
                          class="btn btn-primary"
                          :disabled="invalid"
                        >
                          確認
                        </button>
                      </div>
                    </form>
                  </validation-observer>
                </div>
              </div>
            </div>
            <!-- Del Product Modal -->
            <div
              class="modal fade"
              id="delProductModal"
              tabindex="-1"
              role="dialog"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog" role="document">
                <div class="modal-content border-0">
                  <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="exampleModalLabel">
                      <span>刪除產品</span>
                    </h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    是否刪除
                    <strong class="text-danger">{{ tempProduct.title }}</strong>
                    商品(刪除後將無法恢復)。
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-outline-secondary"
                      data-dismiss="modal"
                    >
                      取消
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger"
                      @click.prevent="delProduct"
                    >
                      確認刪除
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/3.3.0/vee-validate.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3"></script>
    <script type="module" src="./js/products.js"></script>
  </body>
</html>
