.ele-slideshow-wrap {
  position: relative;
  width: 100%;
}
.ele-slideshow-wrap ul {
  position: relative;
}
.ele-slideshow-wrap ul li {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.ele-slideshow-wrap ul li a {
  display: block;
  font-size: 0;
}
.ele-slideshow-wrap ul li a img {
  width: 100%;
}

.ele-slideshow-scroll {
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  top: 0;
  width: 100%;
  height: 100%;
}

.ele-slideshow-control-wrap {
  position: absolute;
  width: auto;
  height: 26px;
  line-height: 26px;
  bottom: 8px;
  right: 8px;
  z-index: 2;
  background: #000;
  opacity: 0.35;
  border-radius: 3px;
}

.ele-slideshow-nav > a {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  background: url('../image/slider_ctrl.png') no-repeat;
  background-position: 0 0;
  margin: 0 5px;
}
.ele-slideshow-nav > a.active {
  background-position: 0 -10px;
}

.lottery-wrap {
  max-width: 1200px;
  min-width: 960px;
  margin: 0 auto;
}

.lottery-menu {
  background: #333;
}
.lottery-menu li {
  position: relative;
  float: left;
  width: 160px;
  height: 42px;
  font-weight: bold;
  text-align: center;
}
.lottery-menu li a {
  display: block;
  color: #bababa;
  line-height: 42px;
}
.lottery-menu li a:hover, .lottery-menu li a.current {
  background: #2B2B2B;
  color: #fff;
}
.lottery-menu li:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  right: 0;
  top: 0;
  background: #3d3d3d;
}

.lottrey-center-box {
  position: relative;
}
.lottrey-center-box:after, .lottrey-center-box:before {
  content: " ";
  display: table;
}
.lottrey-center-box:after {
  clear: both;
}

.lottery-slider-wrap {
  position: relative;
  float: left;
  width: calc(100% - 272px);
  max-height: 278px;
}

.lottery-gamepanel-wrap {
  position: absolute;
  background: url('../image/bg_logout_game.jpg') no-repeat left top;
  width: 272px;
  top: 0;
  right: 0;
  bottom: 0;
}

.gamepanel-box {
  height: calc(100% - 42px);
  text-align: center;
}
.gamepanel-box:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.gamepanel-title {
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  height: 34px;
}
.gamepanel-title span {
  display: inline-block;
  vertical-align: middle;
}
.gamepanel-title .rule-icon {
  display: inline-block;
  vertical-align: middle;
  background: url('../image/icon_quest_n.png') no-repeat left top;
  width: 34px;
  height: 34px;
  margin-left: 10px;
  transition: all 0.3s ease-in-out;
}
.gamepanel-title .rule-icon:hover {
  background: url('../image/icon_quest_h.png') no-repeat left top;
}

.game-star-btn {
  display: block;
  height: 42px;
  line-height: 42px;
  text-align: center;
  color: #fff;
  background: linear-gradient(270deg, #f5e047, #f7d846, #fd6661, #ff4469);
}

.lottery-guesslike-wrap {
  background: #333;
  font-size: 0;
}

.guesslike-title {
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
  width: 110px;
  color: #19cdad;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

.guesslike-game-box {
  display: inline-block;
  background: #444;
  width: calc(100% - 110px);
}

.guesslike-game {
  display: inline-block;
  vertical-align: middle;
  padding: 0 13px 0 12px;
  width: 20%;
  height: 60px;
  border-left: 1px solid #525252;
  line-height: 17px;
  text-align: left;
  cursor: pointer;
}
.guesslike-game .guesslike-game-icon {
  display: inline-block;
  padding: 0 0 0 44px;
  height: 60px;
}
.guesslike-game .guesslike-game-icon:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 60px;
}
.guesslike-game .guesslike-game-icon.guesslike-bb-icon {
  background: url('../image/not-use/icon_bb_n.png') no-repeat left center;
}
.guesslike-game .guesslike-game-icon.guesslike-xbb-icon {
  background: url('../image/not-use/icon_xbb_n.png') no-repeat left center;
}
.guesslike-game .guesslike-game-icon.guesslike-vr-icon {
  background: url('../image/not-use/icon_vr_n.png') no-repeat left center;
}
.guesslike-game .guesslike-game-icon p {
  display: inline-block;
  vertical-align: middle;
}
.guesslike-game .guesslike-game-icon p span {
  display: block;
  font-size: 12px;
  color: #69eece;
}
.guesslike-game .guesslike-game-icon p span.guesslike-game-subtitle {
  font-size: 14px;
  color: #fff;
}
.guesslike-game .guesslike-game-icon p span.guesslike-game-subtitle.text-over {
  width: 107px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.guesslike-game:hover {
  background: linear-gradient(90deg, #0295ec, #1aceac 44%, #85efdd);
}
.guesslike-game:hover .guesslike-game-name {
  color: #fff;
}
.guesslike-game:hover .guesslike-game-icon.guesslike-bb-icon {
  background: url('../image/not-use/icon_bb_h.png') no-repeat left center;
}
.guesslike-game:hover .guesslike-game-icon.guesslike-xbb-icon {
  background: url('../image/not-use/icon_xbb_h.png') no-repeat left center;
}
.guesslike-game:hover .guesslike-game-icon.guesslike-vr-icon {
  background: url('../image/not-use/icon_vr_h.png') no-repeat left center;
}

.lottery-hero-board {
  font-size: 12px;
  height: 36px;
  line-height: 36px;
  background: #fff;
  border-bottom: 4px solid #dfdfdf;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
}

.hero-block {
  display: inline-block;
  background: url('../image/icon_crown.png') no-repeat left center;
  padding: 0 0 0 30px;
  margin: 0 12px 0 0;
  color: #798699;
}
.hero-block a {
  font-weight: bold;
  color: #52A5FD;
  padding: 0 3px;
}
.hero-block p {
  display: inline-block;
  font-weight: bold;
  padding: 0 3px;
}

.lottery-trandition-box {
  border-bottom: 4px solid #dfdfdf;
}
.lottery-trandition-box:after, .lottery-trandition-box:before {
  content: " ";
  display: table;
}
.lottery-trandition-box:after {
  clear: both;
}

.lottery-trandition-wrap {
  float: left;
  width: calc((100% - 272px) / 2);
  height: 334px;
  background: #fff;
  border-left: 1px solid #dfdfdf;
}

.trandition-game-list {
  height: 67px;
  border-bottom: 1px solid #dfdfdf;
  background-color: transparent;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
.trandition-game-list.new-icon {
  background: url('../image/icon_new.png') no-repeat left top;
}
.trandition-game-list.hot-icon {
  background: url('../image/icon_hot.png') no-repeat left top;
}
.trandition-game-list:hover {
  background-color: #f5f7f8;
}

.trandition-list-title {
  font-size: 18px;
  font-weight: bold;
  color: #3e4754;
  padding: 0 11px 0 24px;
  display: inline-block;
  vertical-align: middle;
}
.trandition-list-title:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 66px;
}

.trandition-rule-icon {
  float: right;
  margin: 20px 24px 0 0;
  width: 26px;
  height: 26px;
  background: url('../image/icon_quest_n.png') no-repeat left top;
  background-size: 26px;
  transition: background 0.3s ease-in-out;
}
.trandition-rule-icon:hover {
  background: url('../image/icon_quest_h.png') no-repeat left top;
  background-size: 26px;
}

.lottrey-ad-wrap {
  float: left;
  border-left: 4px solid #dfdfdf;
  width: 272px;
  height: 334px;
  background: url('../image/lang/zh-cn/ad01.jpg');
}
.lottrey-ad-wrap a {
  height: 334px;
  display: block;
}

.lottery-official-wrap {
  background: #f6f7f9;
}
.lottery-official-wrap:after, .lottery-official-wrap:before {
  content: " ";
  display: table;
}
.lottery-official-wrap:after {
  clear: both;
}
.lottery-official-wrap > ul {
  float: left;
  width: 50%;
}

.official-game-info {
  width: 100%;
  height: 64px;
  border-bottom: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  padding: 0 0 0 24px;
}
.official-game-info:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 64px;
}
.official-game-info:hover {
  background: #ebebeb;
}
.official-game-info.lotto, .official-game-info.fastbb, .official-game-info.pk115 {
  border-left: 1px solid #dfdfdf;
}

.official-game-icon {
  display: inline-block;
  vertical-align: middle;
  width: 56px;
  height: 52px;
  background-position: left center;
  background-repeat: no-repeat;
}
.lotto .official-game-icon {
  background-image: url('../image/not-use/icon_lotto.png');
}
.pk115 .official-game-icon {
  background-image: url('../image/not-use/icon_pk&115.png');
}
.lottofast3 .official-game-icon {
  background-image: url('../image/not-use/icon_1010lotto&fast3.png');
}
.fastbb .official-game-icon {
  background-image: url('../image/not-use/icon_fastbb.png');
}
.pk115 .official-game-icon {
  background-image: url('../image/not-use/icon_pk&115.png');
}
.lottofast3 .official-game-icon {
  background-image: url('../image/not-use/icon_1010lotto&fast3.png');
}
.keno .official-game-icon {
  background-image: url('../image/not-use/icon_keno.png');
}
.pk115 .official-game-icon {
  background-image: url('../image/not-use/icon_pk&115.png');
}
.lottofast3 .official-game-icon {
  background-image: url('../image/not-use/icon_1010lotto&fast3.png');
}
.happy10 .official-game-icon {
  background-image: url('../image/not-use/icon_happy10.png');
}
.pk115 .official-game-icon {
  background-image: url('../image/not-use/icon_pk&115.png');
}
.lottofast3 .official-game-icon {
  background-image: url('../image/not-use/icon_1010lotto&fast3.png');
}

.official-game-list-box {
  display: inline-block;
  vertical-align: middle;
  padding: 0 0 0 18px;
}

.official-game-title {
  line-height: 18px;
  font-size: 16px;
  font-weight: bold;
}

.officical-game-list {
  line-height: 16px;
  margin: 4px 0 0 0;
  display: inline-block;
  vertical-align: middle;
}
.officical-game-list li {
  font-size: 12px;
  display: inline-block;
  color: #d5d5d5;
  padding: 0 5px;
}
.officical-game-list li a {
  color: #798699;
}
.officical-game-list li a.current {
  font-weight: bold;
  color: #f89c4b;
}
.officical-game-list li a:hover {
  text-decoration: underline;
}

.official-game-more {
  font-size: 12px;
  color: #b8b8c9;
  margin: 0 0 0 5px;
}
.official-game-more:hover {
  color: #b8b8c9;
  text-decoration: underline;
}

.official-btn {
  float: right;
  margin: 17px 24px 0 0;
  padding: 0 3px;
  width: 56px;
  height: 30px;
  line-height: 26px;
  font-size: 14px;
  color: #798699;
  text-align: center;
  border: 2px solid #dfe1e0;
  border-radius: 8px;
}
.official-btn:hover {
  border: 0;
  background: #f9a542;
  line-height: 30px;
}

/*# sourceMappingURL=style.css.map */