.ele-slideshow-wrap {
  position: relative;
}
.ele-slideshow-wrap ul {
  position: absolute;
  left: 0;
  top: 0;
  width: 710px;
  height: 200px;
}
.ele-slideshow-wrap ul li {
  position: absolute;
  left: 0;
  top: 0;
  width: 710px;
  height: 200px;
  -webkit-backface-visibility: hidden;
}
.ele-slideshow-wrap ul li a {
  display: block;
}
.ele-slideshow-wrap ul li a img {
  display: block;
  max-width: 710px;
  height: auto;
  float: left;
}
.ele-slideshow-wrap ul li a .img {
  width: 710px;
  height: 200px;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

.ele-slideshow-scroll {
  position: relative;
  z-index: 1;
  width: 710px;
  height: 200px;
  overflow: hidden;
}

.ele-slideshow-control-wrap {
  position: absolute;
  z-index: 3;
}

body {
  position: relative;
}
@media only screen and (min-width: 960px) and (max-width: 976px) {
  body {
    overflow-x: hidden;
  }
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

#page-container {
  position: relative;
}

#ele-game-categories-menu-placeholder {
  position: relative;
}
#ele-game-categories-menu-placeholder.fixed {
  position: fixed;
  top: 0;
  max-width: 960px;
  width: 100%;
  z-index: 5;
}
@media only screen and (max-width: 960px) {
  #ele-game-categories-menu-placeholder.fixed {
    position: static;
  }
}

.bb {
  padding: 0 0 60px 0;
}
@media only screen and (max-width: 960px) {
  .bb {
    padding-bottom: 112px;
  }
}

.game-wrap {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  padding: 0 0 60px 0;
  overflow: hidden;
}
.game-wrap:before, .game-wrap:after {
  content: "";
  display: table;
}
.game-wrap:after {
  clear: both;
}
.game-wrap.padding-top {
  padding-top: 90px !important;
}
@media only screen and (max-width: 960px) {
  .game-wrap.padding-top {
    padding: 0 !important;
  }
}
.game-wrap.padding-top.short-padding {
  padding-top: 160px;
}
.fishing .game-wrap.padding-top.short-padding {
  padding-top: 100px;
}

.game-nav {
  position: absolute;
  top: 0;
  background: #292929;
  padding: 0 7px 0 8px;
}
.game-nav:before, .game-nav:after {
  content: "";
  display: table;
}
.game-nav:after {
  clear: both;
}
@media only screen and (min-width: 801px) {
  .game-nav {
    display: block !important;
  }
}

.tablet-game-nav {
  width: 100%;
  background: #2b2b2b;
  border: 1px solid #444;
  display: none;
  top: 0;
  padding-left: 7px;
  cursor: pointer;
  z-index: 5;
}
.tablet-game-nav:before, .tablet-game-nav:after {
  content: "";
  display: table;
}
.tablet-game-nav:after {
  clear: both;
}

.tablet-nav-title {
  float: left;
  width: 125px;
  height: 43px;
  padding: 8px 20px 8px 0;
}
.tablet-nav-title a {
  display: block;
  padding: 3px 0;
}
.tablet-nav-title .categories-icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: left top;
}
.tablet-nav-title .categories-icon.categories-item-recommend a {
  color: #FFE599;
}
.tablet-nav-title.recommend .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_recommend.png");
}
.tablet-nav-title.hot .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_hot.png");
}
.tablet-nav-title.new .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_new.png");
}
.tablet-nav-title.event .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_event.png");
}
.tablet-nav-title.promotions .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_promotions.png");
}
.tablet-nav-title.fisharea .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_fisharea.png");
}
.tablet-nav-title.bbcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_bbcasino.png");
}
.tablet-nav-title.kacasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_kacasino.png");
}
.tablet-nav-title.gticasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_gticasino.png");
}
.tablet-nav-title.wmcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_wmcasino.png");
}
.tablet-nav-title.bngcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_bngcasino.png");
}
.tablet-nav-title.swcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_swcasino.png");
}
.tablet-nav-title.ptcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_ptcasino.png");
}
.tablet-nav-title.sgcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_sgcasino.png");
}
.tablet-nav-title.mwcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_mwcasino.png");
}
.tablet-nav-title.jdbcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_jdbcasino.png");
}
.tablet-nav-title.agslotcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_agslotcasino.png");
}
.tablet-nav-title.mgcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_mgcasino.png");
}
.tablet-nav-title.hbcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_hbcasino.png");
}
.tablet-nav-title.gnscasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_gnscasino.png");
}
.tablet-nav-title.isbcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_isbcasino.png");
}
.tablet-nav-title.rtcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_rtcasino.png");
}
.tablet-nav-title.ppcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_ppcasino.png");
}
.tablet-nav-title.fgcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_fgcasino.png");
}
.tablet-nav-title.pgcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_pgcasino.png");
}
.tablet-nav-title.awcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_awcasino.png");
}
.tablet-nav-title.bbllcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_bbllcasino.png");
}
.tablet-nav-title.cq9casino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_cq9casino.png");
}
.tablet-nav-title.lgcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_lgcasino.png");
}
.tablet-nav-title.sbgcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_sbgcasino.png");
}
.tablet-nav-title.acecasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_acecasino.png");
}
.tablet-nav-title.mtcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_mtcasino.png");
}
.tablet-nav-title.pscasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_pscasino.png");
}
.tablet-nav-title.xbbcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_xbbcasino.png");
}
.tablet-nav-title .categories-name {
  display: inline-block;
  vertical-align: top;
  line-height: 25px;
  height: 22px;
  font-size: 15px;
  color: #ddd;
  padding: 0 0 0 8px;
}
.tablet-nav-title.recommend .categories-icon {
  background-position: 0 0;
}

.tablet-nav-arrow {
  float: right;
  margin: 5px 3% 0 0;
  transition: all 0.3s;
}
.tablet-nav-arrow i {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}
.tablet-nav-arrow.trun {
  transform: rotateX(180deg);
}

.game-nav-list li {
  float: left;
  width: 105px;
  height: 30px;
  padding: 4px 10px 4px 0;
}
.game-nav-list li .categories-icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-position: left top;
  background-repeat: no-repeat;
}
.game-nav-list li .categories-name {
  display: inline-block;
  vertical-align: top;
  line-height: 22px;
  height: 22px;
  font-size: 15px;
  padding: 0 0 0 8px;
}
.game-nav-list li.categories-item-recommend .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_recommend.png");
}
.game-nav-list li.categories-item-hot .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_hot.png");
}
.game-nav-list li.categories-item-new .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_new.png");
}
.game-nav-list li.categories-item-event .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_event.png");
}
.game-nav-list li.categories-item-promotions .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_promotions.png");
}
.game-nav-list li.categories-item-fisharea .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_fisharea.png");
}
.game-nav-list li.categories-item-bbcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_bbcasino.png");
}
.game-nav-list li.categories-item-kacasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_kacasino.png");
}
.game-nav-list li.categories-item-gticasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_gticasino.png");
}
.game-nav-list li.categories-item-wmcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_wmcasino.png");
}
.game-nav-list li.categories-item-bngcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_bngcasino.png");
}
.game-nav-list li.categories-item-swcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_swcasino.png");
}
.game-nav-list li.categories-item-ptcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_ptcasino.png");
}
.game-nav-list li.categories-item-sgcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_sgcasino.png");
}
.game-nav-list li.categories-item-mwcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_mwcasino.png");
}
.game-nav-list li.categories-item-jdbcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_jdbcasino.png");
}
.game-nav-list li.categories-item-agslotcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_agslotcasino.png");
}
.game-nav-list li.categories-item-mgcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_mgcasino.png");
}
.game-nav-list li.categories-item-hbcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_hbcasino.png");
}
.game-nav-list li.categories-item-gnscasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_gnscasino.png");
}
.game-nav-list li.categories-item-isbcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_isbcasino.png");
}
.game-nav-list li.categories-item-rtcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_rtcasino.png");
}
.game-nav-list li.categories-item-ppcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_ppcasino.png");
}
.game-nav-list li.categories-item-fgcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_fgcasino.png");
}
.game-nav-list li.categories-item-pgcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_pgcasino.png");
}
.game-nav-list li.categories-item-awcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_awcasino.png");
}
.game-nav-list li.categories-item-bbllcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_bbllcasino.png");
}
.game-nav-list li.categories-item-cq9casino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_cq9casino.png");
}
.game-nav-list li.categories-item-lgcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_lgcasino.png");
}
.game-nav-list li.categories-item-ygcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_ygcasino.png");
}
.game-nav-list li.categories-item-sbgcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_sbgcasino.png");
}
.game-nav-list li.categories-item-acecasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_acecasino.png");
}
.game-nav-list li.categories-item-mtcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_mtcasino.png");
}
.game-nav-list li.categories-item-pscasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_pscasino.png");
}
.game-nav-list li.categories-item-xbbcasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_xbbcasino.png");
}
.game-nav-list li.categories-item-recommend a {
  color: #FFE599;
}
.game-nav-list li a {
  display: block;
  color: #868686;
}
.game-nav-list li a:hover, .game-nav-list li a.current {
  color: #FF7373;
}

.categories-item-fpcasino .categories-icon,
.categories-item-wmcasino .categories-icon,
.categories-item-bbiicasino .categories-icon {
  background-image: url("../image/lang/zh-cn/nav_logo_NEW.png");
}

.slider-block {
  position: relative;
  background: #842628;
}
.bb .slider-block {
  background: #9a3133;
}
.fishing .slider-block, .no-jackpot .slider-block {
  background: #000;
}

.game-slider {
  margin-right: 250px;
  max-height: 200px;
}
.game-slider.slick-dotted.slick-slider {
  margin-bottom: 0;
}
.game-slider .slick-dots {
  background: rgba(0, 0, 0, 0.5);
  width: auto;
  padding: 6px 10px;
  right: 10px;
  bottom: 5px;
  border-radius: 3px;
}
.game-slider .slick-dots li {
  width: 10px;
  height: 10px;
  margin: 0 4px;
  border-radius: 50%;
  text-indent: 9999px;
  background: #fff;
  opacity: 0.4;
  text-indent: -3000px;
}
.game-slider .slick-dots li.slick-active {
  opacity: 1;
}
.game-slider .slick-dots li button:before {
  color: transparent;
}
.game-slider img {
  width: 100%;
}
.fishing .game-slider, .no-jackpot .game-slider {
  margin-right: 26%;
  z-index: 1;
}

.game-jp {
  position: absolute;
  right: 0;
  top: 0;
  background: url('../image/jp/game_jp_bg.png') no-repeat left top;
  width: 250px;
  height: 200px;
}
.bb .game-jp {
  padding: 5px 0 0 0;
  background: url('../image/jp_bg.gif') no-repeat left top;
}
.fishing .game-jp, .no-jackpot .game-jp {
  width: 100%;
  height: 100%;
  padding-left: 74%;
}
.fishing .game-jp img, .no-jackpot .game-jp img {
  width: 100%;
  height: 100%;
}

.game-jp-wrap {
  position: relative;
  height: 100%;
}

.game-jp-wrapper {
  width: 250px;
  height: 200px;
  vertical-align: middle;
  display: table-cell;
}
.other-jackpot .game-jp-wrapper {
  height: 122px;
}

.game-jp-grand {
  cursor: pointer;
  margin: 0 auto;
}
.bb .game-jp-grand {
  background: url('../image/jp_grand.png') no-repeat center top;
  height: 20px;
  cursor: pointer;
}
.bb .game-jp-grand:hover {
  background-position: center bottom;
}
.gti .game-jp-grand {
  background: url('../image/jp/jp_logo_gti.png') no-repeat left top;
  width: 208px;
  height: 100px;
}
.wm .game-jp-grand {
  background: url('../image/jp/jp_logo_wm.png') no-repeat left top;
  width: 208px;
  height: 100px;
}
.pt .game-jp-grand {
  background: url('../image/jp/jp_logo_pt.png') no-repeat left top;
  width: 186px;
  height: 42px;
}
.sg .game-jp-grand {
  background: url('../image/jp/jp_logo_sg.png') no-repeat left top;
  width: 186px;
  height: 42px;
}
.jdb .game-jp-grand {
  background: url('../image/jp/jp_logo_jdb.png') no-repeat left top;
  width: 208px;
  height: 100px;
}
.mg .game-jp-grand {
  background: url('../image/jp/jp_logo_mg.png') no-repeat left top;
  width: 186px;
  height: 42px;
}
.gns .game-jp-grand {
  background: url('../image/jp/jp_logo_gns.png') no-repeat left top;
  width: 186px;
  height: 42px;
}
.isb .game-jp-grand {
  background: url('../image/jp/jp_logo_isb.png') no-repeat left top;
  width: 186px;
  height: 42px;
}
.aw .game-jp-grand {
  background: url('../image/jp/jp_logo_aw.png') no-repeat left top;
  width: 208px;
  height: 100px;
}
.fg .game-jp-grand {
  background: url('../image/jp/jp_logo_fg.png') no-repeat left top;
  width: 186px;
  height: 42px;
}
.pg .game-jp-grand {
  background: url('../image/jp/jp_logo_pg.png') no-repeat left top;
  width: 186px;
  height: 42px;
}

.more-jackpot-slider {
  width: 250px;
  height: 168px;
}

.more-jackpot-logo {
  margin: 0 auto;
}
.pt .more-jackpot-logo {
  background: url('../image/jp/jp_logo_pt.png') no-repeat center;
  width: 186px;
  height: 42px;
}
.sg .more-jackpot-logo {
  background: url('../image/jp/jp_logo_sg.png') no-repeat center;
  width: 186px;
  height: 42px;
}
.mg .more-jackpot-logo {
  background: url('../image/jp/jp_logo_mg.png') no-repeat center;
  width: 186px;
  height: 42px;
}
.gns .more-jackpot-logo {
  background: url('../image/jp/jp_logo_gns.png') no-repeat center;
  width: 186px;
  height: 42px;
}
.isb .more-jackpot-logo {
  background: url('../image/jp/jp_logo_isb.png') no-repeat center;
  width: 186px;
  height: 42px;
}
.fg .more-jackpot-logo {
  background: url('../image/jp/jp_logo_fg.png') no-repeat center;
  width: 186px;
  height: 42px;
}
.pg .more-jackpot-logo {
  background: url('../image/jp/jp_logo_pg.png') no-repeat center;
  width: 186px;
  height: 42px;
}
.ag .more-jackpot-logo {
  background: url('../image/jp/jp_logo_ag.png') no-repeat center;
  width: 186px;
  height: 42px;
}

.game-jp-num {
  line-height: normal;
  font-size: 22px;
  font-weight: bold;
  color: #FFE599;
  text-align: center;
  letter-spacing: 1.5px;
  font-family: arial;
}
.bb .game-jp-num {
  padding: 8px 0 0 0;
}
.gti .game-jp-num, .wm .game-jp-num, .jdb .game-jp-num, .aw .game-jp-num {
  position: relative;
  padding: 18px 0 0 0;
  width: 250px;
  height: 59px;
  background: url('../image/jp/jp_onegame_bg.png') no-repeat center top;
  top: -6px;
}

.game-jp-conent {
  padding: 20px 16px 0 16px;
}

.game-jp-one:before, .game-jp-one:after {
  content: "";
  display: table;
}
.game-jp-one:after {
  clear: both;
}

.jp-ranking[data-rank="0"] .game-jp-icon {
  background-position: 0px 0px;
}
.jp-ranking[data-rank="1"] .game-jp-icon {
  background-position: 0px -32px;
}
.jp-ranking[data-rank="2"] .game-jp-icon {
  background-position: 0px -64px;
}
.jp-ranking[data-rank="3"] .game-jp-icon {
  background-position: 0px -96px;
}
.jp-ranking[data-rank="4"] .game-jp-icon {
  background-position: 0px -128px;
}
.jp-ranking[data-rank="5"] .game-jp-icon {
  background-position: 0px -160px;
}
.jp-ranking[data-rank="6"] .game-jp-icon {
  background-position: 0px -192px;
}
.jp-ranking[data-rank="7"] .game-jp-icon {
  background-position: 0px -224px;
}
.jp-ranking[data-rank="8"] .game-jp-icon {
  background-position: 0px -256px;
}
.jp-ranking[data-rank="9"] .game-jp-icon {
  background-position: 0px -288px;
}
.jp-ranking[data-rank="10"] .game-jp-icon {
  background-position: 0px -320px;
}
.jp-ranking[data-rank="11"] .game-jp-icon {
  background-position: 0px -352px;
}
.jp-ranking[data-rank="12"] .game-jp-icon {
  background-position: 0px -384px;
}
.jp-ranking[data-rank="13"] .game-jp-icon {
  background-position: 0px -416px;
}
.jp-ranking[data-rank="14"] .game-jp-icon {
  background-position: 0px -448px;
}
.jp-ranking[data-rank="15"] .game-jp-icon {
  background-position: 0px -480px;
}
.jp-ranking[data-rank="16"] .game-jp-icon {
  background-position: 0px -512px;
}
.jp-ranking[data-rank="17"] .game-jp-icon {
  background-position: 0px -544px;
}
.jp-ranking[data-rank="18"] .game-jp-icon {
  background-position: 0px -576px;
}
.jp-ranking[data-rank="19"] .game-jp-icon {
  background-position: 0px -608px;
}
.jp-ranking[data-rank="20"] .game-jp-icon {
  background-position: 0px -640px;
}
.jp-ranking[data-rank="21"] .game-jp-icon {
  background-position: 0px -672px;
}
.jp-ranking[data-rank="22"] .game-jp-icon {
  background-position: 0px -704px;
}
.jp-ranking[data-rank="23"] .game-jp-icon {
  background-position: 0px -736px;
}

.game-jp-icon {
  float: left;
  display: block;
  background: url('../image/jp_num.png');
  width: 32px;
  height: 32px;
}
.game-jp-one .game-jp-icon {
  background-position: center top;
}

.game-jp-name {
  font-size: 14px;
  font-weight: bold;
  color: #FFC8A8;
  float: left;
  line-height: 32px;
}

.game-jp-money {
  font-size: 14px;
  font-weight: bold;
  color: #FFC8A8;
  float: right;
  line-height: 32px;
}

.game-jp-more {
  position: absolute;
  background: url('../image/jp_more.png') no-repeat left top;
  width: 63px;
  height: 21px;
  font-size: 12px;
  color: #FFEDB7;
  text-align: center;
  line-height: 21px;
  right: 10px;
  bottom: 8px;
  cursor: pointer;
}
.game-jp-more:hover {
  background-position: left bottom;
}

.jp-top24 {
  display: none;
}

.jp-top24-wrap {
  position: fixed;
  width: 581px;
  height: 414px;
  left: 50%;
  top: 50%;
  background: #fff;
  margin: -207px 0 0 -290px;
  border: 2px solid #bbb;
  z-index: 6;
}

.jp-top24-header {
  width: 100%;
  height: 52px;
  background: #9D3335;
  border-bottom: 1px solid #81282A;
}

.jp-top24-title {
  font-size: 30px;
  font-weight: bold;
  color: #FFE599;
  line-height: 52px;
  padding: 0 0 0 20px;
  display: inline;
}

.jp-top24-close {
  float: right;
  background: url('../image/jp_top24_close.png') no-repeat left center;
  width: 18px;
  height: 18px;
  width: 35px;
  height: 52px;
  cursor: pointer;
}

.jp-top24-table {
  float: left;
  width: 50%;
  text-align: center;
}
.jp-top24-table tr {
  display: block;
  font-size: 12px;
  color: #999;
  max-height: 30px;
  line-height: 30px;
}
.jp-top24-table tr.gray-bg {
  background: #f4f4f4;
  border-right: 2px solid #fff;
}
.jp-top24-table tr.jp-top24-topThree {
  color: #9D3335;
}

.jp-rule {
  display: none;
}

.overlay {
  cursor: pointer;
}

.jp-rule-wrap {
  position: fixed;
  width: 300px;
  height: 420px;
  left: 50%;
  top: 50%;
  margin: -210px 0 0 -150px;
  padding: 7px 9px 20px 9px;
  border: 1px solid #000;
  z-index: 6;
  background: #fff;
}

.jp-rule-close {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 21px;
  top: 16px;
  background: url('../image/btn_dialog_close.png') no-repeat left top;
  cursor: pointer;
}

.jp-rule-content {
  font-size: 13px;
  font-weight: bold;
  color: #868686;
  line-height: 20px;
}

.jp-rule-pic {
  width: 280px;
  height: 160px;
}
.jp-rule-pic.bb {
  background: url('../image/jp_rule_bb.png') no-repeat center left;
}
.jp-rule-pic.gti {
  background: url('../image/jp_rule_gti.png') no-repeat center left;
}
.jp-rule-pic.wm {
  background: url('../image/jp_rule_wm.png') no-repeat center left;
}
.jp-rule-pic.jdb {
  background: url('../image/jp_rule_jdb.png') no-repeat center left;
}
.jp-rule-pic.aw {
  background: url('../image/jp_rule_aw.png') no-repeat center left;
}

.jp-rule-text {
  padding: 0 20px;
  margin: 20px 0;
  line-height: 22px;
  height: 220px;
  overflow-y: scroll;
}

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  background: url('../image/dialog_overlay_bg.png') repeat left top;
  width: 100%;
  height: 100%;
  z-index: 6;
}

.game-jp-rank .slick-list {
  height: 68px !important;
}

.game-jp-list {
  padding: 1px 0 1px 16px;
}
.game-jp-list:before, .game-jp-list:after {
  content: "";
  display: table;
}
.game-jp-list:after {
  clear: both;
}

.jp-list-pic {
  float: left;
  width: 40px;
  height: 40px;
  margin: 6px 10px 0 0;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #C14447;
}
.jp-list-pic img {
  border-radius: 50%;
  height: 100%;
}

.jp-list-title {
  position: relative;
  float: left;
  font-size: 12px;
  color: #fff;
  line-height: 22px;
  z-index: 2;
}

.jp-list-money {
  position: relative;
  float: left;
  width: 165px;
  height: 28px;
  background: url('../image/jp_money_bg.png') no-repeat left top;
  font-family: arial;
  font-size: 16px;
  letter-spacing: 1px;
  color: #FFE599;
  line-height: 28px;
  text-align: right;
  padding: 0 6px;
  box-shadow: 0px 0px 0 #652123, -3px -3px 11px #652123;
  z-index: 1;
}

#game-menu, #game-column {
  position: relative;
  background: #F0F4F8;
  border: 1px solid #ddd;
}
#game-menu:before, #game-column:before, #game-menu:after, #game-column:after {
  content: "";
  display: table;
}
#game-menu:after, #game-column:after {
  clear: both;
}
#game-menu.fixed, .fixed#game-column {
  position: fixed;
  z-index: 98;
  width: 100%;
  max-width: 960px;
}
@media only screen and (max-width: 960px) {
  #game-menu.fixed, .fixed#game-column {
    position: static;
  }
}
#game-menu .game-menu-wrap, #game-column .game-menu-wrap {
  position: relative;
  background: #F0F4F8;
  height: 37px;
  border-bottom: 1px solid #ddd;
}

.game-menu-filter, .game-column-menu {
  float: left;
  font-size: 14px;
  font-weight: bold;
}
.game-menu-filter:before, .game-column-menu:before, .game-menu-filter:after, .game-column-menu:after {
  content: "";
  display: table;
}
.game-menu-filter:after, .game-column-menu:after {
  clear: both;
}
.game-menu-filter li, .game-column-menu li {
  float: left;
  width: 100px;
  line-height: 36px;
  text-align: center;
}
.game-menu-filter li a, .game-column-menu li a {
  display: block;
  color: #555;
}
.game-menu-filter li a:hover, .game-column-menu li a:hover, .game-menu-filter li a.current, .game-column-menu li a.current {
  background: #fff;
}
.game-menu-filter li a:hover:after, .game-column-menu li a:hover:after, .game-menu-filter li a.current:after, .game-column-menu li a.current:after {
  content: '';
  display: block;
  width: 100px;
  height: 1px;
  background: #fff;
}
.game-menu-filter li.activity a, .game-column-menu li.activity a {
  color: #DF6969;
}

.game-grid, .game-search, .game-favorite {
  position: relative;
  float: right;
  background: url('../image/game_btn_list.png') no-repeat left top;
  width: 40px;
  height: 36px;
  cursor: pointer;
  border-left: 1px solid #ddd;
}
.game-grid:hover, .game-search:hover, .game-favorite:hover {
  background-position: left bottom;
}
.game-grid.game-list, .game-list.game-search, .game-list.game-favorite {
  background: url('../image/game_btn_grid.png') no-repeat left top;
}
.game-grid.game-list:hover, .game-list.game-search:hover, .game-list.game-favorite:hover {
  background-position: left bottom;
}

.game-search {
  background: url('../image/game_btn_search.png');
  border: 0;
  z-index: 2;
}
.game-search.color {
  background-color: #eee;
  background-position: left 36px;
  height: 36px;
  border-bottom: 1px solid #ddd;
}

.game-search-box {
  position: absolute;
  height: 35px;
  top: 0;
  right: 80px;
  background: #eee;
  z-index: 1;
}

.game-search-input {
  border: 0;
  padding: 0;
  width: 0;
  background: transparent;
  font-size: 12px;
  color: #666;
  line-height: 35px;
  transition: all 0.3s;
}
.open .game-search-input {
  width: 173px;
  border-left: 1px solid #ddd;
  padding: 0 0 0 14px;
}
.game-search-input.test {
  position: relative;
  color: #B5271D;
  -webkit-animation-name: error;
          animation-name: error;
  -webkit-animation-duration: .1s;
          animation-duration: .1s;
}

@-webkit-keyframes error {
  0% {
    top: -5px;
    left: -10px;
  }
  25% {
    bottom: -5px;
    left: -5px;
  }
  50% {
    bottom: -5px;
    right: -10px;
  }
  75% {
    bottom: -5px;
    right: -5px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}

@keyframes error {
  0% {
    top: -5px;
    left: -10px;
  }
  25% {
    bottom: -5px;
    left: -5px;
  }
  50% {
    bottom: -5px;
    right: -10px;
  }
  75% {
    bottom: -5px;
    right: -5px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
.hidden {
  display: none;
}

.game-favorite {
  background: url('../image/game_btn_favorite.png');
  border-right: 1px solid #ddd;
}

.game-submenu {
  position: relative;
  background: #fff;
}

.game-submenu-wrap {
  height: 32px;
}
.game-submenu-wrap:before, .game-submenu-wrap:after {
  content: "";
  display: table;
}
.game-submenu-wrap:after {
  clear: both;
}
.game-submenu-wrap li {
  float: left;
  width: 100px;
  text-align: center;
  line-height: 32px;
  font-size: 14px;
}
.game-submenu-wrap li a {
  position: relative;
  display: block;
  color: #97B3CE;
}
.game-submenu-wrap li a:hover:before, .game-submenu-wrap li a.current:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: 0;
  background: #97B3CE;
}
.game-submenu-wrap li.slot i {
  padding: 0 0 0 5px;
  transition: all 0.3s;
}
.game-submenu-wrap li.slot i.trun {
  transform: rotateX(180deg);
}

.game-submenu-slot {
  display: none;
  position: absolute;
  background: url('../image/dialog_overlay_bg.png') repeat left top;
  width: 100%;
  top: 32px;
  left: 0;
  padding: 10px 0px 10px 200px;
  z-index: 5;
}

.submenu-slot-wrap {
  float: left;
  width: 92px;
  padding: 0 10px;
}
.submenu-slot-wrap:before, .submenu-slot-wrap:after {
  content: "";
  display: table;
}
.submenu-slot-wrap:after {
  clear: both;
}
.submenu-slot-wrap li {
  font-size: 12px;
  font-weight: bold;
  min-width: 92px;
  margin: 3px 0;
}
.submenu-slot-wrap li a {
  color: #fff;
  padding: 4px;
  border: 1px solid transparent;
  border-radius: 4px;
  min-width: 46px;
  display: inline-block;
}
.submenu-slot-wrap li a.on {
  border-color: #97B2CD;
  color: #97B2CD;
}

#game-list {
  position: relative;
  padding: 1px 6px;
}
#game-list:before, #game-list:after {
  content: "";
  display: table;
}
#game-list:after {
  clear: both;
}
#game-list.list {
  padding-top: 2px;
}
.fishing #game-list {
  padding: 10px 0 0 0;
}

.game-box {
  position: relative;
  float: left;
  width: 152px;
  height: 156px;
  border: 1px solid #D5D9DE;
  border-radius: 6px;
  margin: 5px 3px;
  background: #fff;
  -webkit-animation-name: scale;
          animation-name: scale;
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
}
.list .game-box {
  width: 49%;
  height: 50px;
  margin: 2px 0.5%;
  -webkit-animation-name: list;
          animation-name: list;
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
}
.fishing .game-box {
  height: 140px;
}
.game-column-slider02 .game-box {
  height: 140px;
}

@-webkit-keyframes scale {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes scale {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}
@-webkit-keyframes list {
  0% {
    transform: scale(1, 1);
  }
  0.01% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes list {
  0% {
    transform: scale(1, 1);
  }
  0.01% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}
.game-list-block {
  position: absolute;
  bottom: 15px;
  left: 130px;
  display: none;
  width: 0;
  height: 0;
  background: #fff;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2), -3px -3px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  z-index: 101;
}
.game-list-block img {
  display: block;
  width: 100%;
  border-radius: 6px 6px 0 0;
}
.list .game-list-block.game-list-expand {
  display: block;
  width: 150px;
  height: auto;
}

.list .game-list-pic .game-box-grand, .list .game-list-pic .game-box-jackpot {
  display: block;
  top: 85px;
}

.game-list-title {
  opacity: 0;
  font-size: 13px;
  color: #777;
}
.list .game-list-expand .game-list-title {
  opacity: 1;
  margin: 0 10px;
  padding: 10px 0;
}

.game-list-infor,
.game-rule-text {
  padding: 0 10px 10px 10px;
  font-size: 12px;
  color: #aaa;
  line-height: 16px;
}

.game-rule-text {
  font-size: 14px;
}

.game-box-pic {
  position: relative;
  height: 111px;
  border-bottom: 1px solid #D5D9DE;
}
.list .game-box-pic {
  display: none;
  position: absolute;
  height: auto;
  padding: 0 0 0 10px;
  border: 0;
}

.game-box-tag {
  position: absolute;
  min-width: 45px;
  height: 19px;
  top: 12px;
  left: -3px;
  background: #D5373A;
  border-radius: 0 3px 3px 0;
  box-shadow: 2px 2px 0 rgba(102, 0, 0, 0.3);
  padding: 0 5px;
  line-height: 20px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  z-index: 2;
}
.game-list-slider .game-box-tag {
  background: #43688D;
  box-shadow: 2px 2px 0 rgba(67, 104, 141, 0.3);
}
#game-list .game-box-tag {
  top: -100px;
}
#game-list.list .game-box-tag {
  position: relative;
  top: -3px;
  display: inline-block;
  vertical-align: top;
}
.fishing .game-box-tag {
  background: #43688D;
}

.game-box-img {
  text-align: center;
}
.list .game-box-img {
  display: none;
}

.game-box-img img {
  display: block;
  width: 100%;
  max-height: 111px;
  border-radius: 5px 5px 0 0;
}

.game-box-grand, .game-box-jackpot {
  position: absolute;
  width: 100%;
  height: 25px;
  left: 0;
  bottom: 0;
  background: url('../image/dialog_overlay_bg.png') repeat left top;
}
.game-box-grand .box-grand-icon, .game-box-jackpot .box-grand-icon {
  float: left;
  background: url('../image/game_minor.png') no-repeat 3px center;
  width: 43px;
  height: 25px;
  padding: 0 0 0 3px;
}
.game-box-grand .box-grand-number, .game-box-jackpot .box-grand-number {
  float: right;
  font-size: 12px;
  color: #F2B243;
  line-height: 28px;
  vertical-align: middle;
  padding: 0 3px 0 0;
  text-align: right;
}
.list .game-box-grand, .list .game-box-jackpot {
  display: none;
}

.game-box-jackpot .box-grand-icon {
  width: 51px;
  background: url('../image/game_jackpot.png') no-repeat 3px center;
}

.game-box-info {
  position: absolute;
  width: 152px;
  top: 110px;
  height: 45px;
  line-height: normal;
}
.list .game-box-info {
  position: relative;
  top: 0;
  width: 280px;
  float: left;
  padding: 8px 0 8px 10px;
  cursor: pointer;
}
.fishing .game-box-info {
  height: 29px;
}

.game-box-title {
  font-size: 14px;
  color: #777;
  line-height: 44px;
  padding-left: 9px;
}
.list .game-box-title {
  line-height: 19px;
  padding: 0 5px 0 0;
  display: inline-block;
}
.game-column-slider .game-box-title {
  padding-top: 0;
  line-height: 45px;
}
.game-list-slider .game-box-title {
  line-height: 28px;
}

.game-box-favorite {
  display: none;
  line-height: 16px;
  padding: 0 0 0 9px;
}
.game-box-favorite:before, .game-box-favorite:after {
  content: "";
  display: table;
}
.game-box-favorite:after {
  clear: both;
}
.list .game-box-favorite {
  padding: 0;
}

.favorite-number {
  float: left;
  font-size: 12px;
  color: #777;
  padding: 2px 0 0 0;
}
.list .favorite-number {
  color: #aaa;
}
.list .favorite-number:before {
  content: '';
  display: inline-block;
  background: url('../image/game_icon_favorite.png') no-repeat left top;
  width: 16px;
  height: 16px;
  transform: scale(0.65);
  opacity: 0.7;
  vertical-align: middle;
}

.favorite-btn {
  position: absolute;
  font-size: 14px;
  color: #777;
  right: 5px;
  bottom: 10px;
  cursor: pointer;
  z-index: 3;
}
.favorite-btn.on {
  color: #D5373A;
}
.list .favorite-btn {
  color: #aaa;
  width: 30px;
  height: 30px;
  border: 1px solid #aaa;
  top: 9px;
  right: 152px;
  border-radius: 5px;
  text-align: center;
  line-height: 29px;
}
.list .favorite-btn.on {
  color: #D5373A;
}

.game-box-mask {
  position: absolute;
  width: 100%;
  height: 110px;
  left: 0;
  top: 0;
  background: url('../image/dialog_overlay_bg.png') repeat left top;
  text-align: center;
  display: none;
  border-radius: 5px 5px 0 0;
  z-index: 2;
}
.game-box-mask .box-mask-wrap {
  display: table-cell;
  vertical-align: middle;
}
.game-box-mask .box-mask-wrap button {
  width: 95px;
  height: 30px;
  border-radius: 6px;
  margin: 2px 0;
  border: 0;
  font-size: 14px;
  color: #fff;
  background: #43688D;
  transition: all 0.3s;
}
.game-box-mask .box-mask-wrap button.box-btn-intro {
  background: none;
  border: 1px solid #F0F0F0;
}
.game-box-mask .box-mask-wrap button.box-btn-rule {
  display: none;
}
.game-box-mask .box-mask-wrap button.box-btn-enter {
  margin: 2px 0 28px 0;
  background: none;
  border: 1px solid #43688D;
}
.game-box-mask .box-mask-wrap button.box-btn-enter:hover {
  border: 1px solid #D5373A;
  background: none;
}
.list .game-box-mask .box-mask-wrap button {
  background: none;
  border: 1px solid #43688D;
  color: #43688D;
  width: 70px;
  font-size: 13px;
}
.list .game-box-mask .box-mask-wrap button.box-btn-rush {
  float: right;
  margin-left: 2px;
  margin-right: 2px;
}
.list .game-box-mask .box-mask-wrap button:hover {
  color: #fff;
  background: #43688D;
  border: 0;
}
.list .game-box-mask .box-mask-wrap button.box-btn-rule {
  display: block;
  border-color: #aaa;
  color: #aaa;
}
.list .game-box-mask .box-mask-wrap button.box-btn-rule:hover {
  color: #fff;
}
.list .game-box-mask .box-mask-wrap button.box-btn-enter {
  margin: 2px 0;
}
.game-box-mask .box-mask-wrap button.box-btn-info {
  background: none;
  margin: 5px 0 0 0;
  border: 1px solid #fff;
}
.game-box-mask .box-mask-wrap button:hover {
  background: #D5373A;
  border: 0;
}
.game-box-mask .box-mask-wrap i {
  position: absolute;
  background: url('../image/game_layout_icon.png') no-repeat;
  width: 26px;
  height: 26px;
  cursor: pointer;
}
.game-box-mask .box-mask-wrap i.btn-icon-flash {
  background-position: left top;
  right: 36px;
  bottom: 7px;
}
.game-box-mask .box-mask-wrap i.btn-icon-flash:hover {
  background-position: left bottom;
}
.list .game-box-mask .box-mask-wrap i.btn-icon-flash {
  display: none;
}
.game-box-mask .box-mask-wrap i.btn-icon-question {
  background-position: right top;
  right: 6px;
  bottom: 7px;
}
.game-box-mask .box-mask-wrap i.btn-icon-question:hover {
  background-position: right bottom;
}
.list .game-box-mask .box-mask-wrap i.btn-icon-question {
  display: none;
}
.list .game-box-mask .box-mask-wrap {
  float: right;
  padding: 7px 5px 0 0;
}
.list .game-box-mask {
  position: relative;
  display: block !important;
  background: none;
  height: auto;
}
.fishing .game-box-mask {
  height: 111px;
}

.game-list-slider {
  width: 948px;
  margin: 0 auto;
}
.game-list-slider:before, .game-list-slider:after {
  content: "";
  display: table;
}
.game-list-slider:after {
  clear: both;
}
.game-list-slider .slick-prev, .game-list-slider .slick-next {
  left: -5px;
  z-index: 2;
}
.game-list-slider .slick-next {
  right: -5px;
  left: auto;
}
.game-list-slider .game-box {
  width: 152px !important;
  height: 140px;
}
.game-list-slider.fixed {
  margin-top: 71px;
}
@media only screen and (max-width: 960px) {
  .game-list-slider.fixed {
    margin-top: 0;
  }
}

.game-list-ad {
  position: relative;
  float: left;
  width: 316px;
  height: 156px;
  background: url('../image/not-use/game_activity_ad.png') no-repeat 3px top;
  padding: 0 3px;
  cursor: pointer;
  top: 5px;
  z-index: 4;
}
.list .game-list-ad {
  display: none;
}
.game-list-ad.activity-ad {
  width: auto;
  padding: 0;
}

.list-ad-expand {
  position: absolute;
  width: 0;
  height: 156px;
  padding: 0;
  left: 0;
  top: 0;
  background: url('../image/not-use/game_activity_expand.png') no-repeat left top;
  z-index: 1;
  transition: all 0.3s;
}
.list-ad-expand.expand {
  width: 632px;
  padding: 0 3px;
  background-position: 3px top;
}
.activity-ad .list-ad-expand {
  position: relative;
  left: 0;
  top: 0;
  width: 632px;
  padding: 0 3px;
  background-position: 3px top;
}

.game-collection {
  width: 960px;
  left: 50%;
  margin: 0 0 0 -480px;
  background: #962F31;
  z-index: 5;
  min-width: 700px;
  transition: all 0.3s;
}
@media only screen and (max-width: 960px) {
  .game-collection {
    position: absolute !important;
  }
}

.game-collection-header {
  position: relative;
  border: 1px solid #B7393D;
}
.game-collection-header:before, .game-collection-header:after {
  content: "";
  display: table;
}
.game-collection-header:after {
  clear: both;
}

.game-collection-btn {
  position: absolute;
  top: -32px;
  left: 50%;
  width: 64px;
  height: 32px;
  margin: 0 0 0 -32px;
  border-radius: 64px 64px 0 0;
  background: #962F31;
  border-left: 1px solid #B7393D;
  border-right: 1px solid #B7393D;
  cursor: pointer;
  overflow: hidden;
}
.game-collection-btn i {
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  display: block;
  text-align: center;
  line-height: 30px;
  transition: all 0.3s;
}
.game-collection-btn.turn i {
  transform: rotateX(180deg);
  line-height: 40px;
}
.game-collection-btn:hover i {
  color: #F2B243;
}

.game-collection-nav {
  float: left;
  height: 50px;
  line-height: 50px;
  width: 720px;
  margin: 0 auto 0 20px;
}
.game-collection-nav .slick-arrow.slick-prev, .game-collection-nav .slick-arrow.slick-next {
  background: url('../image/icon_arr.png') no-repeat left bottom;
  width: 8px;
  height: 12px;
  left: -13px;
}
.game-collection-nav .slick-arrow.slick-prev:hover, .game-collection-nav .slick-arrow.slick-next:hover {
  background-position: right bottom;
}
.game-collection-nav .slick-arrow.slick-next {
  background-position: left top;
  left: auto;
  right: -30px;
}
.game-collection-nav .slick-arrow.slick-next:hover {
  background-position: right top;
}

.collection-nav-title {
  font-size: 12px;
  text-align: center;
  transition: all 0.3s;
}
.collection-nav-title a {
  display: block;
  padding: 0 14px;
  color: #fff;
}
.collection-nav-title a.current, .collection-nav-title a:hover {
  color: #F2B243;
}

.game-collection-search {
  float: right;
  position: relative;
  width: 50px;
  height: 50px;
  background: url('../image/collection_btn_search.png') no-repeat center #6F020D;
  border: 0;
  z-index: 2;
}

.collection-search-box {
  position: absolute;
  border: 0;
  background: #6F020D;
  height: 50px;
  top: 0;
  right: 0;
  z-index: 1;
}

.collection-search-input {
  background: none;
  width: 0;
  border: 0;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  color: #FF9673;
  height: 50px;
  transition: width .3s ease;
}
.collection-search-input::-webkit-input-placeholder {
  color: #FF9673;
}
.collection-search-input::-moz-placeholder {
  color: #FF9673;
}
.collection-search-input:-ms-input-placeholder {
  color: #FF9673;
}
.collection-search-input::-ms-input-placeholder {
  color: #FF9673;
}
.collection-search-input::placeholder {
  color: #FF9673;
}
.collection-search-input.open {
  width: 170px;
  padding: 0 14px;
}

.game-collection-container {
  overflow: hidden;
  height: 0;
  background: #fff;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  transition: all 0.3s;
}
.game-collection-container.expand {
  height: 121px;
  padding: 4px 0 0 0;
  border-bottom: 1px solid #ddd;
}

.game-collection-list {
  width: 900px;
  margin: 0 auto;
}

.game-collection-box {
  position: relative;
  float: left;
  display: block;
  width: 122px !important;
  height: 112px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #D5D9DE;
  margin: 0 4px 0 3px;
}
.game-collection-box .game-box-mask {
  height: 88px;
}

.game-collection-pic {
  position: relative;
}
.game-collection-pic img {
  border-radius: 4px 4px 0 0;
}

.game-collection-tag {
  position: absolute;
  min-width: 45px;
  height: 19px;
  top: 12px;
  left: -3px;
  background: #43688D;
  line-height: 19px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  z-index: 1;
  border-radius: 0 4px 4px 0;
  box-shadow: 2px 2px 0 rgba(67, 104, 141, 0.3);
}

.game-collection-img img {
  border-radius: 4px 4px 0 0;
}

.game-collection-title {
  font-size: 13px;
  font-weight: bold;
  color: #aaa;
  line-height: 24px;
  padding: 0 0 0 8px;
  border-top: 1px solid #D5D9DE;
}
.game-collection-title:hover {
  color: #878787;
}

.slick-prev, .slick-next {
  width: 29px;
  height: 29px;
  background: url('../image/game_arr.png') no-repeat left top;
  text-indent: -3000px;
  z-index: 1;
}

.slick-next {
  background-position: left bottom;
}

.not-recent {
  display: none;
  text-align: center;
  line-height: 121px;
  font-size: 16px;
  color: #ccc;
  font-weight: bold;
}

.game-column-menu li {
  float: left;
  width: 100px;
  line-height: 36px;
  text-align: center;
}

.game-column-block {
  padding: 30px 0 0 0;
}

.game-column-header:before, .game-column-header:after {
  content: "";
  display: table;
}
.game-column-header:after {
  clear: both;
}

.game-column-title {
  float: left;
  font-size: 18px;
  color: #777;
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
  text-shadow: -1px 0 rgba(238, 238, 238, 0.6), 0 1px rgba(238, 238, 238, 0.6), 1px 0 rgba(238, 238, 238, 0.6), 0 -1px rgba(238, 238, 238, 0.6);
}

.game-column-dot {
  float: left;
  width: 100%;
  height: 26px;
  background: url('../image/column_title_point.png') repeat-x left center;
}

.game-column-more {
  position: relative;
  float: right;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  text-align: center;
  min-width: 81px;
  background: #D5373A;
  border: 1px solid #fff;
  border-radius: 4px;
  transition: all 0.3s;
}
.game-column-more a {
  display: block;
  color: #fff;
  padding: 0 16px;
}
.game-column-more:hover {
  background: #B72629;
}

.game-column-container:before, .game-column-container:after {
  content: "";
  display: table;
}
.game-column-container:after {
  clear: both;
}

.game-column-slider {
  float: left;
  width: 632px;
}

.game-column-ad {
  float: left;
  background: url('../image/not-use/game_activity_ad.png') no-repeat left top;
  width: 310px;
  height: 156px;
  margin: 5px 6px 0 0;
}

.game-column-slider .slick-prev, .game-column-slider .slick-next {
  left: -322px;
  z-index: 2;
}
.game-column-slider02 .slick-prev, .game-column-slider02 .slick-next {
  left: -6px;
  z-index: 2;
}

.game-column-slider .slick-next, .game-column-slider02 .slick-next {
  left: auto;
  right: -5px;
}

.lds-spinner {
  position: absolute;
  top: 90px;
  left: 50%;
  width: 32px;
  height: 32px;
  margin-left: -32px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #FFE599;
}
.lds-spinner span {
  position: absolute;
  top: 56px;
  left: 0;
}
.lds-spinner.other-game {
  position: relative;
  top: -10px;
  width: 61px;
  height: 61px;
}

.lds-spinner div {
  transform-origin: 32px 32px;
  -webkit-animation: lds-spinner 0.8s linear infinite;
          animation: lds-spinner 0.8s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 16px;
  left: 30px;
  width: 4px;
  height: 12px;
  border-radius: 20%;
  background: #FFE599;
  border-radius: 6px;
}

.lds-spinner div.lds-bar1 {
  transform: rotate(0deg);
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

.lds-spinner div.lds-bar2 {
  transform: rotate(45deg);
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}

.lds-spinner div.lds-bar3 {
  transform: rotate(90deg);
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}

.lds-spinner div.lds-bar4 {
  transform: rotate(135deg);
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.lds-spinner div.lds-bar5 {
  transform: rotate(180deg);
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

.lds-spinner div.lds-bar6 {
  transform: rotate(225deg);
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.lds-spinner div.lds-bar7 {
  transform: rotate(270deg);
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.lds-spinner div.lds-bar8 {
  transform: rotate(315deg);
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

.lds-spinner div.lds-bar9 {
  transform: rotate(0deg);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fishing-back {
  float: left;
  width: 100px;
  height: 35px;
  font-size: 14px;
  background: #97B3CE;
  color: #fff;
  border: 1px solid #ddd;
  transition: background-color 0.3s;
}
.fishing-back:hover {
  background: #618AB4;
}

.fishing-menu {
  position: relative;
}
.fishing-menu:before, .fishing-menu:after {
  content: "";
  display: table;
}
.fishing-menu:after {
  clear: both;
}

.fishing-category {
  float: left;
  width: 860px;
  height: 35px;
  background: #F0F4F8;
  border: 1px solid #ddd;
  border-left: 0;
}
.fishing-category .slick-list {
  margin: 0 40px 0 30px;
}
.fishing-category li {
  padding: 0 18px;
  line-height: 35px;
  text-align: center;
  font-size: 14px;
  color: #545454;
  cursor: pointer;
}
.fishing-category li:hover, .fishing-category li.current {
  background: #fff;
}
.fishing-category .slick-next,
.fishing-category .slick-prev,
.fishing-category .slick-next {
  width: 10px;
  height: 17px;
  left: 10px;
  background: url('../image/fishing_arr.png') no-repeat left top;
  z-index: 2;
}
.fishing-category .slick-next:hover,
.fishing-category .slick-prev:hover,
.fishing-category .slick-next:hover {
  background-position: right top;
}
.fishing-category .slick-next {
  left: auto;
  right: 16px;
  background-position: left bottom;
}
.fishing-category .slick-next:hover {
  background-position: right bottom;
}

.fishing-submenu {
  width: 100%;
  height: 30px;
  background: #fff;
  text-align: center;
}
.fishing-submenu li {
  display: inline-block;
  font-size: 14px;
}
.fishing-submenu li a {
  position: relative;
  color: #97B3CE;
  display: block;
  padding: 0 20px;
  line-height: 30px;
}
.fishing-submenu li a:hover:before, .fishing-submenu li a.current:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background: #97B3CE;
  left: 0;
  bottom: 1px;
}

.fishing-block {
  position: relative;
  min-height: 524px;
}

.fishing-slider .slick-prev, .fishing-slider .slick-next,
.fishing-slider .slick-next,
.fishing-odds .slick-prev,
.fishing-odds .slick-next,
.fishing-odds .slick-next {
  width: 21px;
  height: 34px;
  background: url("../image/fishing_btn_arrow.png") no-repeat left top;
  left: 20px;
  z-index: 2;
}
.fishing-slider .slick-next,
.fishing-odds .slick-next {
  background-position: right top;
  left: auto;
  right: 20px;
}
.fishing-slider .slick-dots,
.fishing-odds .slick-dots {
  width: 300px;
  left: 50%;
  margin: 0 0 0 -150px;
  bottom: 40px;
}
.fishing-slider .slick-dots li,
.fishing-odds .slick-dots li {
  width: 10px;
  height: 10px;
}
.fishing-slider .slick-dots li button,
.fishing-odds .slick-dots li button {
  width: 10px;
  height: 10px;
}
.fishing-slider .slick-dots li button:before,
.fishing-odds .slick-dots li button:before {
  width: 10px;
  height: 10px;
  background: url('../image/fishing_btn_dots.png') no-repeat left bottom;
  color: transparent;
  opacity: 1;
}
.fishing-slider .slick-dots li.slick-active button::before,
.fishing-odds .slick-dots li.slick-active button::before {
  background-position: left top;
}

.fishing-slider {
  position: relative;
  z-index: 1;
}

.fishing-slider-btn {
  position: absolute;
  width: 185px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  right: 16px;
  bottom: 19px;
  font-size: 16px;
  font-weight: bold;
  color: #8C4600;
  background: url('../image/fishing_btn.png') no-repeat left top;
  cursor: pointer;
  border: 0;
  z-index: 1;
}
.fishing-slider-btn:hover {
  background-position: left bottom;
}

.fishing-video {
  position: absolute;
  background: url('../image/fishing_video_bg.jpg') no-repeat center top;
  width: 960px;
  height: 524px;
  padding: 58px 0 0 0;
  top: 0;
  z-index: 0;
}

.fishing-video-wrap {
  width: 640px;
  height: 360px;
  margin: 0 auto;
}

.fishing-odds {
  position: absolute;
  width: 960px;
  height: 524px;
  top: 0;
  z-index: 0;
}

/*# sourceMappingURL=style.css.map */