// Media Queries
$custom: 1366px;
$desktop: 960px;
$tablet: 768px;
$mobile: 480px;

@mixin MQ($canvas) {
    @if $canvas == custom {
        @media only screen and (max-width: $custom) { @content; }
    }
    @else if $canvas == desktop {
        @media only screen and (max-width: $desktop) { @content; }
    }
    @else if $canvas == tablet {
        @media only screen and (max-width: $tablet) { @content; }
    }
    @else if $canvas == mobile {
        @media only screen and (max-width: $mobile) { @content; }
    }
}

// 模板
@include MQ(custom) {}
@include MQ(desktop) {}
@include MQ(tablet) {}
@include MQ(mobile) {}


// 開發者模式提示框
@if $developer == 1 {
    #mainBody {
        &:before, &:after {
            position: fixed;
            top: 0;
            z-index: 99;
            font-size: 12px;
            color: #fff;
            background-color: rgba(#000, .5);
            padding: 3px 5px;
        }
        &:before {
            left: 0;
        }
        &:after {
            right: 0;
        }
        @include MQ(custom) {
            &:before {
                content: 'Custom 自訂數值 (包含#{$custom}) 以下';
            }
            background: lightseagreen;
        }
        @include MQ(desktop) {
            &:before {
                content: 'Desktop (#{$desktop}) 以下';
            }
            background: brown;
        }
        @include MQ(tablet) {
            &:before {
                content: 'Tablet (包含#{$tablet}) 以下';
            }
            background: steelblue;
        }
        @include MQ(mobile) {
            &:before {
                content: 'Mobile (包含#{$mobile}) 以下';
            }
            background: gold;
        }
        @media screen and (max-width: 321px) {
            &:before {
                content: '維護範圍 (320)';
                color: gold;
            }
        }
    }
}