//====== 開發者模式 = 1; 非開發者模式 = 0
$developer: 0;


//====== 語系種類
$lang-kind: popupFlag;      //false = 不使用; Flag = 使用 inline 國旗; Dropmenu = 下拉式; popupFlag = 使用 popup 國旗
$lang-img: 1;               // 1 = 長方形; 2 = 圓形（目前使用 Flag、Dropmenu 才需設定）
$lang-arrow: 1;             // 1 = 白; 2 = 黑（目前使用 Dropmenu 才需設定）


//====== 首頁輪播圖
$first-slider: true;                            //true = 使用; false = 不使用;
$first-height: image-height('not-use/ad01.jpg');    //圖片高度 = 區塊高度;


//====== 首頁遊戲圖
$first-game-lang: true;     //true = 使用; false = 不使用;
$first-game-format: jpg;    //遊戲圖圖片格式（png、jpg...）







// 目前語系資料夾
$lang: 'lang/zh-cn/';


// 主風格或常用的配色，自行修改
$red               : #BF2824 !default;
$blue              : #64C8F3 !default;
$yellow            : #F8B865 !default;


// 基本顏色設定
$body-bg           : #FFF;
$text-color        : #000;
$link-color        : #FFF;


// 基本文字設定
//## Font, line-height, and color for body text, and more.
$font-family-base: STHeiti,"Microsoft YaHei", "微软雅黑", "SimSun", "宋体", arial !default;
$font-size-base: 16px !default;
$line-height-base: 1.8 !default;